---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="post">

<div class="panels">
{{ content }}

<iframe id="output"></iframe>
</div>

<button id="run">Run</button>
</div>


<script src="/js/libs/zepto.js"></script>
<script src="/js/libs/underscore.js"></script>
<script src="/js/libs/jshint.js"></script>
<script src="/js/libs/jshint-config.js"></script>

<script src="/js/libs/codemirror.js"></script>
<script src="/js/libs/codemirror-javascript.js"></script>
<script src="/js/libs/codemirror-lint.js"></script>
<script src="/js/libs/codemirror-javascript-lint.js"></script>
<script src="/js/libs/codemirror-xml.js"></script>
<script src="/js/libs/codemirror-css.js"></script>

<link rel="stylesheet" href="/css/codemirror/codemirror.css">
<link rel="stylesheet" href="/css/codemirror/lint.css">
<link rel="stylesheet" href="/css/codemirror/monokai.css">

<script src="/js/main.js"></script>